.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font: 2em sans-serif;

  button {
    color:wheat;
    background-color: red;
    padding-inline: .5em;
    border-radius: 50px;
    outline: none;
    border:none;
    font-size: large;
    font-weight: 400;
  }
}
